/* Geral */
body {
    font-family: sans-serif;
}
#div-paragrafos {
    color: aliceblue;
    background-color: rgb(93, 93, 145);
}
.longo {
    background-color: pink;
}
#p1 {
    color: brown;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
    font-family: 'Courier New', Courier, monospace;
}

ul {
    background-color: green;
}

ol {
    color: red;
}
